{% extends 'base_template.twig' %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-9">
                    {% include '/parts/user_info.twig' %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-9">
                    {% include '/parts/file_list.twig' %}
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
{% endblock %}
