{% extends 'base_template.twig' %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    {% include '/parts/reg_form.twig' %}
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
{% endblock %}
